venv/
env/
myvenv/
log_*/
.idea/
src/__pycache__
src/node_base_style/__pycache__
example/__pycache__
example1/
example2/
src/HoarePrompt.egg-info
logs/
log*/
log*/
yihan_test/
test_example/
test_llm_calls/
motivational_example/
useful_examples/
incomplete_examples/
remote-src/
old_source/
configs_old/
bloatware/
